.el-aside{
    background-color: #1b1e21;
}

.el-menu{
    background-color: #1b1e21 !important;
}

.el-container{
    height: 100vh !important;
}

.el-image{
    padding: 15px;
}

.el-header{
    height: 77px !important;
}

.el-hr{
    height: 5px;
    background-color: rgb(247, 212, 8);
}
